.accordion-button {
    scroll-margin-top: 75px;
}


.sidebar-content {
    background: #ffffff;
}

a.sidebar-link {
    background: #ffffff;
    color: #647279;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}


a.sidebar-link.actived {
    background: #00a335;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

a.sidebar-link.actived:hover {
    background: #00863F;
    color: #ffffff;
}

a.sidebar-link:hover {
    background-color: rgba(0,0,0,0.04);
    color: #647279;
}

.sidebar-nav {
    padding: 0; /* Remove padding from the ul */
}

.sidebar-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.sidebar-item {
    background: #ffffff;
    display: flex;
    margin-bottom: 0px; /* Ajuste este valor conforme necessário */

}
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.align-middle {
    display: flex;
    align-items: center;
    place-content: center;
    white-space: nowrap;
    height: 15px; /* Garante que a altura do texto seja igual à do ícone */
}


.font-color-grey {
    color: #647279;
}

.card-item {
    padding: 10px;
    margin-bottom: 10px;
    background: #00a335;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: small;
    border: 0ch;
    border-radius: 9;
}

@media (max-width:768px){
    .margin-top-icon {
        padding-top: 10px;
    }
}

.sidebar-item.disabled {
    color: grey;
}

.align-middle {
    text-align: center;
}

.accordion-button:not(.collapsed) {
    color: #00863F;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.white-icon {
    filter: brightness(0) invert(1);
}

.title-page {
    font-size: large;
    font-weight: 600;
}


/* Estilo CSS para aproximar os submenus */
.navbar {
    margin-bottom: 4 !important; /* Reduz a margem inferior da barra de navegação */
}

.menu-aproximado {
    margin-left: 1px; /* Ajusta a margem esquerda para aproximar os submenus */
    margin-right: 55px; /* Ajusta a margem direita para aproximar os submenus */
}

.router-icon {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
}

.feather {
    width: 100%;
    height: 100%;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.config-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

#config-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#config-results {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

#config-results li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: -1px; /* Evitar a duplicação da borda */
    cursor: pointer;
}

#config-results li:hover {
    background-color: #f0f0f0;
}

/* Estilizando o menu principal */
#id_do_menu {
    width: 250px; /* Largura do menu */
    height: 30px; /* Altura do menu */
    background-color: #87c984; /* Cor de fundo */
    border: 1px solid #00a335; /* Borda */
    font-family: Arial, sans-serif; /* Fonte */
    padding: 5px; /* Espaçamento interno */
  }
  
  /* Estilizando as opções do menu */
  #id_do_menu option {
    padding: 5px; /* Espaçamento entre as opções */
    background-color: #fff; /* Cor de fundo das opções */
    color: #000; /* Cor do texto das opções */
  }
  
  /* Estilizando a opção selecionada */
  #id_do_menu option:selected {
    background-color: #eee; /* Cor de fundo da opção selecionada */
  }

.search-container {
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Align items vertically */
}

#id_do_menu {
  margin-right: 15px; /* Add spacing between select and icon */
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    margin: -10;
    padding: 0px;
}
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: #333;
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

h4 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'museo500', sans-serif; /* Aplica a fonte local */

}

@font-face {
    font-family: 'MinhaFonte';
    src: url('/workspaces/queirozgab.github.io/assets/fonts/MuseoSans-300.otf') format('opentype'); /* Ajuste o caminho e formato conforme necessário */
}

@font-face {
    font-family: 'Museo';
    src: url('/workspaces/queirozgab.github.io/assets/fonts/MuseoSans.otf') format('opentype'); /* Ajuste o caminho e formato conforme necessário */
}

@font-face {
    font-family: 'Museo500';
    src: url('/workspaces/queirozgab.github.io/assets/fonts/MUSEOSANS_500_ITALIC.OTF') format('opentype'); /* Ajuste o caminho e formato conforme necessário */
}

table {
    border-spacing: 15px; /* Define o espaçamento entre as colunas */
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
    border-collapse: collapse; /* Remove espaçamento entre bordas das células */
    width: 100%; /* Ajuste a largura da tabela conforme necessário */


}
table, th, td {
    border: 3px solid #cccccc00;
    border-radius: 8px
}

th {
    background-color: #00A335;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    height: 50px; /* Define a altura dos cabeçalhos da tabela */

}

td {
    padding: 0; /* Remove o padding padrão das células */
    font-size: 15px;
    color: #3e5055 ;
    vertical-align: middle; /* Centraliza verticalmente o conteúdo da célula */
}

tr:nth-child(even) {
    background-color: #E6F7EB;
}
tr:nth-child(odd) {
    background-color: #FFFFFF;
}
tr:hover {
    background-color: #C5E9D2;
}

a.saiba-mais {
    display: block; /* Usar block para garantir que o botão ocupe toda a largura */
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #00A335;
    border: none;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

a.saiba-mais:hover {
    background-color: #007A25;
    transform: translateY(-2px);
}

a.saiba-mais:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS para a célula */
td.pagina-coluna {
    padding: 0; /* Remove o padding da célula */
    width: 150px; /* Define uma largura fixa para a célula */
}

/* Responsividade */
@media (max-width: 768px) {


th, td {
    padding: 10px;
    font-size: 12px;
    border: 1px solid black; /* Borda das células */
    padding: 5px; /* Adiciona algum espaço interno nas células */
    }

}
.hidden {
    display: none;
}



.button {
    display: flex;
    align-items: center;
    background-color: #4CAF50; /* Cor de fundo */
    border: none; /* Remover borda */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Centralizar texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Exibir como bloco inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s; /* Transição para a cor de fundo */
}
.button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
    transform: translateY(-2px); /* Elevar o botão ao passar o mouse */
}

.button:active {
    background-color: #3e8e41; /* Cor de fundo ao clicar */
    transform: translateY(2px); /* Rebaixar o botão ao clicar */
}

.image-text-container img {
    margin-right: 5px; /* Espaçamento entre a imagem e o texto */
}
.image-text-container {
    display: flex; /* Usa flexbox para alinear a imagem e o texto */
    align-items: center; /* Alinha a imagem e o texto verticalmente */
    margin: 0; /* Remove qualquer margem */
}

.modelo {
    text-align: left; /* Alinha o texto da coluna "Modelo" à esquerda */
    width: 200px;
}
.pag {
    width: 150px;
}
.modelorac {
    text-align: left; /* Alinha o texto à esquerda */
    width: 350px;
}
/* Regra específica para a coluna com a classe .modelorac */
td.modelorac, th.modelorac {
    text-align: left !important;
}
.conec {
    text-align: left; /* Alinha o texto à esquerda */
    width: 300px;
    vertical-align: middle;
}
/* Regra específica para a coluna com a classe .modelorac */
td.conec, th.conec {
    text-align: left !important;
    vertical-align: middle;
}

.modelospli {
    text-align: left; /* Alinha o texto à esquerda */
    width: 200px;
    vertical-align: middle;
}
/* Regra específica para a coluna com a classe .modelorac */
td.modelospli, th.modelospli {
    text-align: left !important;
}

.interface {
    text-align: center; /* Alinha o texto da coluna "Modelo" à esquerda */
    width: 200px;
}

th.modelo {
    text-align: left; /* Alinha o texto do cabeçalho da coluna "Modelo" à esquerda */
}

td:not(.modelo), th:not(.modelo) {
    text-align: center; /* Centraliza o texto das outras células e cabeçalhos */
}

.abertura {
    text-align: center; /* Alinha o texto da coluna "Modelo" à esquerda */
    width: 150px;
}
.tensão {
    text-align: center; /* Alinha o texto da coluna "Modelo" à esquerda */
    width: 150px;
}
  /* Estilos para o botão e a tooltip */
.qwert {
    position: relative;
    display: inline-block;
}

.qwert .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiciona a tooltip acima do botão */
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.qwert .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* Posiciona a seta abaixo da tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.qwert:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.qwert:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Estilos para o botão */
.info-button {
    background: linear-gradient(45deg, #203164, #00A335); /* De 45 graus de #4CAF50 para #8BC34A */
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.info-buttonleg {
    background: linear-gradient(45deg, #203164, #00A335); /* De 45 graus de #4CAF50 para #8BC34A */
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}
.tooltiptextleg {
    width: 160px;
    text-align: left;
    border-radius: 5px;
    padding: 5px 0;
}
.tooltipleg-container {
    position: relative;
    display: inline-block;
    text-align: left;
}
/* Estilos para o botão */
.info-button-curio {
    background: linear-gradient(45deg, #bfae11, #49d611); /* De 45 graus de #4CAF50 para #8BC34A */
    border: none;
    color: white;
    padding: 0px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    cursor: pointer;
    border-radius: 5px;
}

.info-button:hover {
    background-color: #45a049; /* Verde mais escuro */
}

.rectangle-cell {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo da célula */
    align-items: center;     /* Centraliza verticalmente o conteúdo da célula */
    height: 100%;            /* Garante que a célula ocupe a altura total */
    min-height: 50px;        /* Garante altura mínima para a célula */
}

.yellow-rectangle {
    width: 50px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #EB741F; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o texto dentro do retângulo */
    align-items: center;     /* Centraliza verticalmente o texto dentro do retângulo */
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center; /* Alinha o texto no centro */
}

.green-rectangle {
    width: 50px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #48b554; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

.green10-rectangle {
    width: 70px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #48b554; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

.greenusb-rectangle {
    width: 70px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #48b554; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

.yellowusb-rectangle {
    width: 70px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #EB741F; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

.gigafast-rectangle {
    width: 80px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #48b554; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

.gpon-rectangle {
    width: 80px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #21495A; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

.epon-rectangle {
    width: 80px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #27bdbe; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

.sfp-rectangle {
    width: 80px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #ed2e2e; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

.xfp-rectangle {
    width: 80px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #A05213; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

.sfpmais-rectangle {
    width: 80px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #ff2ca4; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

.xgspon-rectangle {
    width: 80px; /* Largura do retângulo */
    height: 20px; /* Altura do retângulo */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #7c006d; /* Amarelo */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold; /* Negrito */
    text-align: center;
}

/* Estilos para o campo de pesquisa */
.search-container {
    margin-bottom: 20px;
    text-align: center; /* Centraliza o conteúdo dentro do container */
}

.search-container input[type=text] {
    padding: 12px; /* Aumenta um pouco o padding para melhorar o espaçamento */
    margin-right: 10px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Adiciona uma borda para destacar o campo */
    border-radius: 4px; /* Arredonda os cantos do campo */
    font-size: 14px; /* Define um tamanho de fonte adequado */
}

.search-container button {
    padding: 12px; /* Aumenta um pouco o padding para melhorar a usabilidade */
    background-color: #48b554;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Arredonda os cantos do botão */
    transition: background-color 0.3s; /* Adiciona uma transição suave na cor de fundo */
}

.search-container button:hover {
    background-color: #257b30; /* Cor mais escura ao passar o mouse para um visual mais destacado */
}

/* Estilos para o acordeão */
.accordion-item {
    display: block;
    margin-bottom: 2px; /* Aumenta a margem entre os itens do acordeão */
    border: 1px solid #96e69f;
    border-radius: 5px;
}

.accordion-button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 12px; /* Aumenta o padding para melhorar a usabilidade */
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Adiciona uma transição suave na cor de fundo */
    color: #50788a; /* Cor do texto nos botões do acordeão */

}

.accordion-button:hover {
    background-color: #e9ecef; /* Cor mais clara ao passar o mouse para destacar */
}

.accordion-collapse {
    padding: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 para vídeos responsivos */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cable {
    position: relative;
    width: 300px;
    height: 20px;
    background-color: #00f;
    border-radius: 10px;
    margin: 50px;
  }

  .connector {
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: #ccc;
    border-radius: 5px;
  }

  .connector.left {
    left: -15px;
  }

  .connector.right {
    right: -15px;
  }

  .pins {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 16px;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .pin {
    width: 2px;
    height: 14px;
    background-color: #ffcc00;
  }

  .cable-svg {
    position: absolute;
    top: 50px;
    left: 50px;
  }