.accordion-button {
    scroll-margin-top: 75px;
}

.sidebar-content {
    background: #ffffff;
}

a.sidebar-link {
    background: #ffffff;
    color: #647279;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}


a.sidebar-link.actived {
    background: #00a335;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

a.sidebar-link.actived:hover {
    background: #00863F;
    color: #ffffff;
}

a.sidebar-link:hover {
    background-color: rgba(0,0,0,0.04);
    color: #647279;
}

.sidebar-nav {
    padding: 0; /* Remove padding from the ul */
}

.sidebar-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.align-middle {
    display: flex;
    align-items: center;
    place-content: center;
    white-space: nowrap;
    height: 15px; /* Garante que a altura do texto seja igual à do ícone */
}
.sidebar-item {
    background: #ffffff;
    display: flex;
    margin-bottom: 0px; /* Ajuste este valor conforme necessário */

}

.font-color-grey {
    color: #647279;
}

.card-item {
    padding: 10px;
    margin-bottom: 10px;
    background: #00a335;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: small;
    border: 0ch;
    border-radius: 9;
}

@media (max-width:768px){
    .margin-top-icon {
        padding-top: 10px;
    }
}

.sidebar-item.disabled {
    color: grey;
}

.align-middle {
    text-align: center;
}

.accordion-button:not(.collapsed) {
    color: #00863F;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.white-icon {
    filter: brightness(0) invert(1);
}

.title-page {
    font-size: large;
    font-weight: 600;
}
table {
    margin-left: auto;
    margin-right: auto;
}

/* Estilo CSS para aproximar os submenus */
.navbar {
    margin-bottom: 4 !important; /* Reduz a margem inferior da barra de navegação */
}

.menu-aproximado {
    margin-left: 1px; /* Ajusta a margem esquerda para aproximar os submenus */
    margin-right: 55px; /* Ajusta a margem direita para aproximar os submenus */
}

.router-icon {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
}

.feather {
    width: 100%;
    height: 100%;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.config-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

#config-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#config-results {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

#config-results li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: -1px; /* Evitar a duplicação da borda */
    cursor: pointer;
}

#config-results li:hover {
    background-color: #f0f0f0;
}

/* Estilizando o menu principal */
#id_do_menu {
    width: 250px; /* Largura do menu */
    height: 30px; /* Altura do menu */
    background-color: #87c984; /* Cor de fundo */
    border: 1px solid #00a335; /* Borda */
    font-family: Arial, sans-serif; /* Fonte */
    padding: 5px; /* Espaçamento interno */
  }
  
  /* Estilizando as opções do menu */
  #id_do_menu option {
    padding: 5px; /* Espaçamento entre as opções */
    background-color: #fff; /* Cor de fundo das opções */
    color: #000; /* Cor do texto das opções */
  }
  
  /* Estilizando a opção selecionada */
  #id_do_menu option:selected {
    background-color: #eee; /* Cor de fundo da opção selecionada */
  }

.search-container {
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Align items vertically */
}

#id_do_menu {
  margin-right: 15px; /* Add spacing between select and icon */
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    margin: -10;
    padding: 0px;
}
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: #333;
    text-align: left;
    margin-bottom: 10px;
}
table {
    border-spacing: 15px; /* Define o espaçamento entre as colunas */
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
    border-collapse: collapse; /* Remove espaçamento entre bordas das células */
    width: 100%; /* Ajuste a largura da tabela conforme necessário */
}
table, th, td {
    border: 3px solid #cccccc00;
}

th {
    background-color: #00A335;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}
tr:nth-child(even) {
    background-color: #E6F7EB;
}
tr:nth-child(odd) {
    background-color: #FFFFFF;
}
tr:hover {
    background-color: #C5E9D2;
}
td {
    padding: 0; /* Remove o padding padrão das células */
    font-size: 15px;
    color: #3e5055 ;
    vertical-align: middle; /* Alinha verticalmente ao meio */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}
a.saiba-mais {
    display: inline-block;
    padding: 2px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #00A335;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}
a.saiba-mais:hover {
    background-color: #007A25;
}
/* Responsividade */
@media (max-width: 768px) {
    table {
        width: 100%;
        border-spacing: 10px;
    }
    th, td {
        padding: 10px;
        font-size: 12px;
        border: 1px solid black; /* Borda das células */
        padding: 5px; /* Adiciona algum espaço interno nas células */
    }
    a.saiba-mais {
        padding: 8px 16px;
        font-size: 12px;
    }
}
    .hidden {
    display: none;
}





.button {
    display: flex;
    align-items: center;
    background-color: #4CAF50; /* Cor de fundo */
    border: none; /* Remover borda */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Centralizar texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Exibir como bloco inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s; /* Transição para a cor de fundo */
}
.button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
    transform: translateY(-2px); /* Elevar o botão ao passar o mouse */
}

.button:active {
    background-color: #3e8e41; /* Cor de fundo ao clicar */
    transform: translateY(2px); /* Rebaixar o botão ao clicar */
}

.image-text-container img {
    margin-right: 5px; /* Espaçamento entre a imagem e o texto */
}
.image-text-container {
    display: flex; /* Usa flexbox para alinear a imagem e o texto */
    align-items: center; /* Alinha a imagem e o texto verticalmente */
    margin: 0; /* Remove qualquer margem */
}

.modelo {
    text-align: left; /* Alinha o texto da coluna "Modelo" à esquerda */
}
th.modelo {
    text-align: left; /* Alinha o texto do cabeçalho da coluna "Modelo" à esquerda */
}
td:not(.modelo), th:not(.modelo) {
    text-align: center; /* Centraliza o texto das outras células e cabeçalhos */
}

  /* Estilos para o botão e a tooltip */
.qwert {
    position: relative;
    display: inline-block;
}

.qwert .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiciona a tooltip acima do botão */
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.qwert .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* Posiciona a seta abaixo da tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.qwert:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Estilos para o botão */
.info-button {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.info-button:hover {
    background-color: #45a049; /* Verde mais escuro */
}
